<div class="container-fluid">
  <form>
    <div class="form-group">
      <label for="quote"><em>Quote</em></label>
      <textarea class="form-control" id="name" rows="3"  name="name" required></textarea>

       </div>

    <div class="form-group">
      <label for="author"><em>Author</em></label>
      <input type="text" class="form-control" id="author" 
        name="author" required>

    </div>

    <div class="form-group">
        <label for="author"><em>Publisher</em></label>
        <input type="text" class="form-control" id="author" 
          name="person"  required>

      </div>

    <div class="form-group">
      <label for="date"><em>Date</em></label>
      <input type="date" class="form-control" id="date"  name="date"  required>

    </div>
    <div class="row">
      <div class="col">
        <button type="submit" class="btn btn-primary">Add Quote</button>
      </div>
      <div class="col">

      </div>
    </div>
  </form>
</div>
